.Login {
    button {

        background-color:  #71eed1;
        color: #7b889c;
        margin-bottom: 6rem;
        width: 10%;
        margin-left: 10%;
        border-radius: 999px;
        border: 1px solid #7b889c;

    }

    h3 {
        margin-left: 10%;
    }

    .form__field input {
        border: 1px solid #7b889c;
        border-radius: 999px;
        background-color: transparent;
        text-align: center;
        color: #7b889c;
        margin-left: 40%;
        border: 1px solid #7b889c;
        border-radius: 999px;
        background-color: transparent;
        // text-align: center;
        color: #7b889c;
        width: 30%;


    }
}